<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>###editName###</title>
<link rel="stylesheet" href="../css/list.css" type="text/css">
<link rel="stylesheet" href="../ueditor-1.4.2/themes/default/css/ueditor.css" type="text/css">
<script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../js/Calendar3.js"></script>
<script type="text/javascript" src="../js/commonfun.js"></script>
<script type="text/javascript" src="../js/list.js"></script>

<script type="text/javascript" charset="utf-8" src="../ueditor-1.4.2/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../ueditor-1.4.2/ueditor.all.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，
    比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="../ueditor-1.4.2/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">

    /******!!!以下的servletName、editFields、hideFields不得改为其他名称!!!******/
	//servlet名称
	var servletName="###servletName###";
	//页面显示字段，此处的位置关系到页面上显示的位置，editFields中每一行则表示table中的一行
	/*每个字段中各属性含义：
      属性对应的字段，显示名称，名称列宽度，值所在列宽度，值所在列合并列数，属性数据类型，是否必填(required)，默认值/其他属性值
      其中，对于select类型，最后一列格式为：[["value1","显示名称1"], ["value2","显示名称2"]]，表示select下拉框的值
      对于textarea类型，最后一列格式为：[5,"100","90%",1000]，分别表示 rows、 cols、width宽度和最大输入长度，如果有width，则可以没有cols
      对于富文本rickText类型，最后一列格式为["95%","300px"]，分别表示编辑框的宽度和高度
    */
	var editFields = ###editFields###;
	//隐藏字段，数据库表的主键或其他默认值字段
	var hideFields = ###hideFields###;

    window.onload = function()
    {
	    //初始化页面，需放在window.onload或者$(document).ready中
	    //如果页面上的字段需要特殊处理请修改下面的dealField方法
	    initEditPage();
        
        //判断是否是编辑的情况
        var id = getArgsFromHref("id");
        if(id!=undefined && id!=null && id!=""){
        	$.post(servletName, { action: "post", opt : "getInfo", id : id },
        			function (data, textStatus){
       					var info = data.info;
       					for(var obj in info){ //每个obj即是info中的字段名，对应数据库表中字段名
       						//填充输入框数据，如果需要特殊处理请在此处过滤
       						eval('$("#'+obj+'").val(info.'+obj+'.toString());');
       					}
        			}, 
        	"json");
        }else{
        	
        }
    };
    
    //具体设置每个字段，如果需要特殊处理请在该方法中修改，否则直接使用即可
    //传入的参数即是["field", "字段显示名称", "10%", "23%", 1, "text", "required"]格式
    function dealField(fields){
    	//无须特殊处理则调用默认方法，否则请参照下面默认方法修改之
    	return defaultDealField(fields);
    }

</script>
</head>
<body>
    <form id="editForm" name="editForm"  method="post" target="_self">
      <div id="editPageDiv">
	    
	  </div>
	  <div class="boxDiv" align="center" style="margin:10px 0;">
	      <input type="submit" value="保存"  >&nbsp;&nbsp;
	      <input type="button" value="取消" onclick="editPageCancel();">
	  </div>
    </form>
</body>
</html>